extends layout

block content
  .container
    form(method='post', action='contact/send')
      h1 Contact Us
      .form-group
        label Name
        input.form-control(type='text', name='name', placeholder='Enter your name')
      .form-group
        label Email
        input.form-control(type='email', name='email', placeholder='Enter your email')
      .form-group
        label Message
        textarea.form-control( name='message', placeholder='Enter message..')
      button.btn.btn-default(type='submit') Submit
