extends layout

block content
  .container-fluid
    .jumbotron
      .container
        h1.header Xin chào, đây là server thu thập thông tin xoài Cao Lãnh.
  
  .container-fluid
    .row
      .col-lg-4
        .table-responsive
          table.table.table-striped
            thead
              tr
                th Time
                th Temperature
                th Humidity
            tbody#tdata
              //- if dataArr
              //-   each data, i in dataArr
              //-     tr
              //-       td #{data.time}
              //-       td #{data.temp}
              //-       td #{data.humid}
      .col-lg-1
        form(method="post" action="/reset")
          input(class="btn btn-success" type="submit" value="Reset Data")
      .col-lg-7
        button.btn.btn-success#change-chart Change to Material
        br
        br
        #chart-div
    
 

        
    
    
