doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Assignment Data Communication')
    meta(name='author', content='kien')
    title DHT11 Server

    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')


  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') Bach Khoa University
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li(class=(title==='Home'?'nav-item active':''))
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li(class=(title==='About'?'nav-item active':''))
            a.nav-link(href='/about') About us
          li(class=(title==='Contact'?'nav-item active':''))
            a.nav-link(href='/contact') Contact
        //- form.form-inline.my-2.my-lg-0
        //-   input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
        //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    block content
    footer
      p &copy; 2018, All Right Reserved

    script(src='/socket.io/socket.io.js')
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/google.gragh.js')
    script.
      $(function(){

        google.charts.load('current', {packages: ['corechart', 'line']});
        //google.charts.setOnLoadCallback(drawBackgroundColor);
        var socket = io.connect();
        //render table
        var $tdata = $('#tdata');
        socket.on('serverPort', function(serverPort){
          console.log(serverPort);
        });
        socket.on('serverSendData', function(dataArr){
          $tdata.empty();
          for(i = 0; i < dataArr.length; i++){
            $tdata.append('<tr><td>'+ dataArr[i][0]+'</td> <td>'+ dataArr[i][1]+'</td> <td>'+ dataArr[i][2]+'</td></tr>');
          }

          function drawChart() {
  
            var button = document.getElementById('change-chart');
            var chartDiv = document.getElementById('chart-div');
      
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Time');
            data.addColumn('number', "Temperature");
            data.addColumn('number', "Humidity");
      
            data.addRows(dataArr);
      
            var materialOptions = {
              chart: {
                title: 'Temperature and Humidity received from DHT11 Sensor'
              },
              //width: 900,
              height: 380,
              series: {
                // Gives each series an axis name that matches the Y-axis below.
                0: {axis: 'Temps'},
                1: {axis: 'Humidity'}
              },
              axes: {
                // Adds labels to each axis; they don't have to match the axis names.
                y: {
                  Temps: {label: 'Temps (Celsius)'},
                  Humidity: {label: 'Humidity'}
                }
              }
              
            };
      
            var classicOptions = {
              title: 'Temperature and Humidity received from DHT11 Sensor',
              //width: 900,
              height: 380,
              colors: ['red','blue'],
              // Gives each series an axis that matches the vAxes number below.
              series: {
                0: {targetAxisIndex: 0},
                1: {targetAxisIndex: 1}
              },
              //Modify each axis
              vAxes: {
                0: {
                  title: 'Temps (Celsius)',
                  gridlines: {
                    count: 10,
                    color: '#ffd6cc'
                  },
                  viewWindow: {
                    min: 00,
                    max: 70
                  }
                },
                1: {
                  title: 'Humidity',
                  gridlines: {
                    count: 10,
                    color: '#cfcfff'
                  },
                  viewWindow: {
                    min: 0,
                    max: 100
                  }
                }
              },
              hAxis: {
                gridlines: {
                  count: 10
                },
                title: 'Time'
              },
              pointSize: 5,
              backgroundColor: '#cfffdf'
            };
      
            function drawMaterialChart() {
              var materialChart = new google.charts.Line(chartDiv);
              materialChart.draw(data, materialOptions);
              button.innerText = 'Change to Classic';
              button.onclick = drawClassicChart;
            }
      
            function drawClassicChart() {
              var classicChart = new google.visualization.LineChart(chartDiv);
              classicChart.draw(data, classicOptions);
              button.innerText = 'Change to Material';
              button.onclick = drawMaterialChart;
            }
        
            drawClassicChart();
          }

          google.charts.setOnLoadCallback(drawChart);
        });

        //scroll table
        var $tb = $('.table-responsive');
        function scrollBot(){
          var Bot = $tb.prop('scrollHeight');
          $tb.animate({scrollTop: Bot}, 800, scrollBot);
        }
        function stop(){
          $tb.stop();
        }

        scrollBot();
        $tb.hover(stop, scrollBot);

        
      });

