body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-responsive{
  height: 412px;
  overflow-y: auto;
}

th{
  background: lightgreen;
}

tr:nth-child(even){
  background: lightgreen;
}

.jumbotron{
  margin-top: -60px;
  background: url('../images/bg3.jpg');
  height: 100px;
}

h1.header{
  margin-bottom: 30px;
  color: white;
}

span{
  display: inline-block;
  width: 300px;
}

footer{
  color: white;
  background-color: #737373;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  margin-top: 0px;
  overflow: auto;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
